@import url('https://fonts.google.com/specimen/Roboto?query=roboto');

:root {
    --primary-color: #D90368;
    --secondary-color: #2E294E;
    --font-family: 'Roboto', sans-serif;
}

h1, h2, h3 { 
    color: var(--primary-color);
    font-family: var(--font-family);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.social-media-link {
    text-decoration: none;
        position: fixed;
        display: flex;
}

.socialinks img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    float: right;
}

body {
 max-width: 1200px;
margin: 0%;
display: flex;
  flex-direction: column;
  padding: 50px;
}

.hero {
    position: relative;
    height: 300px;
    background-color: rgba(0, 255, 229, 0.5);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: left;
    width: 80%;
}

h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #cc337a;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
 
h2 {
    margin-top: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}

h3 {
    display: grid;
    place-items: center;
    text-align: center;
    position: absolute;
    margin-top: -300px; ;
}



article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: right;
    max-width: 600px;
}

article img {
    float: right;
    margin-left: 20px;
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
}

article p {
    margin-top: 50px;
}

.galeria img {
    height: 200px;
    width: 200px;
    margin: auto;
padding: 40%;
align-items: center;
}

.galeria {
    display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}



 figure {
    text-align: center;
  }
  
  figcaption {
    margin-top: -70px;
    align-items: center;
    margin-right: -100px;
  }

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content img {
    height: 300px; 
    width: 30%;
    display: flex; 
}


header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content:space-evenly;
    border-bottom: 2px solid;
}
 
nav {
 display: flex;
  justify-content:space-evenly;
  background-color:#bad6ee;
height: 50px;
}
  
  .footer {
    display:flex;
    justify-content:center;
    align-items: center;
}


