@import url('https://fonts.google.com/specimen/Prompt?query=prom'); 

:root {

    --primary-color: #38726c;
    --secondary-color: #563f1b;
    --accent1-color: #f28123;
    --accent2-color: #f7f052;

    --heading-font: 'prompt', serief;
    --paragraph-font: 'prompt', serief;

    --nav-background-color: #38726c;
    --nav-link-color: #F28123;
    --nav-hover-link-color: #f7f052;
    --nav-hover-background-color: #563f1b;
}

body {
    font-family: var(--paragraph-font) ;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font) ;
    color: var(--primary-color) ;
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}
p{
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    }
    
    nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
    }
    
    nav a:link, nav a:visited{
        color: var(--nav-link-color)
    }
    
    nav a:hover {
        color: var(--navhover-link-color);
        background-color: var(--nav-hover-background-color);
    }
